<table border="1" style="border-collapse: collapse; margin: 20px;">
  <ng-container *ngFor="let cate of categories">
    <thead>
      <tr>
        <th>Ma Danh Muc</th>
        <th>Ten Danh Muc</th>
      </tr>
      <tr>
        <td>{{ cate.Cateid }}</td>
        <td>{{ cate.CateName }}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2" style="padding: 5px;">
          <table border="1" style="border-collapse: collapse; width: 100%;">
            <thead>
              <tr>
                <th>Ma San Pham</th>
                <th>Ten San Pham</th>
                <th>Gia San Pham</th>
                <th>Picture</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of cate.Products">
                <td>{{ p.ProductId }}</td>
                <td>{{ p.ProductName }}</td>
                <td>{{ p.Price }}</td>
                <td style="text-align: center;">
                  <img [src]="p.Image" width="50" height="50" style="object-fit: contain;"/>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </ng-container>
</table>